# Copy this file to .env and fill in your values
# NEVER commit the actual .env file

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/job-applicant-tracker


# JWT
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Client (React)
REACT_APP_API_URL=http://localhost:5000/api
